 .wrap {
    margin: 0px auto;
    width: 750px;
 }

 .header, 
 .ctr {
text-align: center;
 }

.img_air {
    width: 30%;
    height: 30%;
    float: left;
    margin: 10px;
}

.img_squ{
    width: 40%;
    height: 40%;
    display: block;
    margin: 0 auto;
}

.rt {
    text-align: right;
}

ol, ul {
    margin: 45px auto;
}